<a href="https://colab.research.google.com/github/AnjaliAM/Python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

In [ ]:

#Q1 :  In the below elements which of them are values or an expression ? 
# eg:values can be integer or string and expression wll be mathematical operators.
#1)      *
#2)    'hello'
#3)    -87.8
#4)      -
#5)      /
#6)      +
#7)       6
#Solution : 
 #    values: 'hello',   -87.8,   6
 #    Expressions: *,    -,   /,  +

In [ ]:
# Q2: What is the difference between  a string and a varible?
# Ans:VARIABLES:  Variables are used to store data in a program.
#                 Vaiables can be considered as an empty box that can be filled with some value or data
#     STRING:   Strings are data , so strings can be used to fill variables.

# Declaring string as a variale make it easier for us to work with strings throughout the programming.
# following is an exapmle if declaring string string as an variable.
my_str = " this is string declared as a variable name my_str"
my_str  # using string as a variable benefits in not writting string againg whenever repeatation of same string required.

' this is string declared as a variable name my_str'

In [ ]:
 # Q3 : Describe three different dataypes in python.
a= 34   
b="43"
c= 34.5
type(a)

int

In [ ]:
type(b)

str

In [ ]:
type(c)

float

In [ ]:
#Q4 : What is an expression is made up of? what do all expressions do?
# Ans: An expression is made up of mathematical operators and operands.
#it interprets to produce some other value value,an expression  is evaluated as per predescence of its operators.
#There can be more than one operators in an expressions and solved according to preference of operators.
#Following are expressions in python:


#    1) Constant expression; Expressions which have constant values only.
#Ex:
x= 34 +1.5
x

35.5

In [ ]:
# 2) Arithmatic Expressions :AN arithmatic expression is a combination of numeric values, operators, sometimes parenthesis.
# result of this kind of expressions is again a numeric value.
# The oerators used are arithmatic operators +,,-,*,/ etc. Ex:
x = 54
y = 4

In [ ]:
x+y

58

In [ ]:
x-y

50

In [ ]:
x*y

216

In [ ]:
x/y

13.5

In [ ]:
x//y     # quotient when x divided by y

13

In [ ]:
x%y         # remainder when x divided by y

2

In [ ]:
x**y          # exponent x^y

8503056

In [ ]:
54*54*54*54

8503056

In [ ]:
# 3) Integral expressions:These are kind of expressions that produce only integer results after all computations 
#and ype conversions.EX:
a= 32
b= 23.4

In [ ]:
a= a+int(b)
c

34.5

In [ ]:
#Floating Expression:An expression which produce floating point numbers as a result.  EX:
a/b

2.3504273504273505

In [ ]:
#    Relational expression: In this kind of expression arithmatic operations are written on both sides of relational operator(<,>,<=,>=)
#    Arithmatic epressions are evaluated first and then compared as per relational operator and produce a boolean output at the end.
#       These expressions also called boolean expressions

In [ ]:
a=32
b=12
c=65
d= 85
p = (a+c) <= (b+d)
p

True

In [ ]:
#Logical expressions: An expression that result in either true or false. it basicallly specifies one condition, as (10==9)
# some of logical opeartors are as follows: and,or , not.EX:
p= (10==9)
q=(6>7)
p and q

False

In [ ]:
p or q

False

In [ ]:
not p

True

In [ ]:
not q

True

In [ ]:
not p and not q

True

In [ ]:
not p or not q

True

In [ ]:
#Bitwise expressions: In which computations are performed at bit level.EX:
a=23
x=a>>1
y = a<<3
 
x,y

(11, 184)

In [ ]:
5>>3

0

In [ ]:
# combinationl expression : When different types of expressions are used in single expression:Ex:
a=12
b= 3
c= a+(b>>1)

In [ ]:
c

13

In [ ]:
# but in combination of expressions it is important to solve according to th precedence of operators:
#    precedence             name                                 operator

#      1                 Parenthesis                             (),[],{}

#      2                 Exponentials                              **

#      3       unary plus orminus or complement                  -a,+a,~a

#      4            Multiply,divide,modulo                         *,/,%

#      5            addition ,substraction                         +, -

#      6                shift operators                           <<,>>

#      7                Biwise AND                                 &

#      8                Bitwissw XOR                               ^

#      9                Biwise OR                                |(pipe symbol)

#      10              comparison operator                        <=,>=,<,>
 
#      11              Equality operators                          ==, !=

#      12              Assignment operators                        =,+=,-=,/=,*=

#      13         Identity and membership operators            is,is not, in , not in 

#      14              Logical operators                           and ,or ,not

What is the difference between an expression and a statement:

Q5. What is the difference between an expression and a statement? like span = 10.
Ans: Expression always evaluates to a value.
A statement does something , like creating a variable or displaying a value, it only does whatever the statment says.

1] Expression:An expression is a sequence or combination of values, variables,operators and function calls that always produces or returns a  result value
Ex: x=5, y=3, z = x+y
here x,y,z are variables
3,5 are values
=,+ are operators
hence all three are expressions.
An expression always evaluates to itself.
 NOTE: Evaluation of an experssion does not changes the state and produce at least one value as a result and results either returns to a functiton cakk or displays at the python prompt.
 A value vvariable  also considered as an expression as these always evaluate  to itself

In [ ]:
16

16

In [ ]:
a= 4
a= a+16             #using arithmatic operator

In [ ]:
a

20

In [ ]:
type(a)               #using function in an expression

int

Statement: An insrtuction(order/command) that a python interpreter can execute as a statement.A statement is the smallest executable unit of the code that has an effect,like creating a variable,displayign a value.
Each and every line of code written in any program is a statement.ex:

In [ ]:
x= 5

In [ ]:
x

5

In [ ]:
#some other kind of statements in python are if,else,for,while,import.

NOTE: execution of a statement changes state.
Execution of a statement may or may not produce or display any result ,it only does whatever the statement says.

In [ ]:
spam =10

In [ ]:
#Q6 after running the following code what does the variable bacon contain?
bacon = 22
bacon+1
bacon    # ans : just incremented by 1

22

In [ ]:
#Q7) what should the value of the following to terms be?
"spam"+'spamspam'

'spamspamspam'

In [ ]:
'spam'*3  # Ans : both have same value

'spamspamspam'

In [ ]:
# Q8) Why eggs is a valid variable name while 100 is invalid?
# ANS: Because eggs has only character values which are allowed in variable naming while starting from numeric values are not allowed hence 100 is invalid
# eegs100 is again valid variable name but 100eggs is invalid

In [ ]:
fwf1

23312

In [ ]:
#Q9 What functions can be used to get the integer , floting, or string vesrion of a value.
#Ans: This is possible with typecasting. As shown
A = 34322
type(A)

int

In [ ]:
A = str(A)              
A

'34322'

In [ ]:
type(A)

str

In [ ]:
A= float(A)
A

34322.0

In [ ]:
type(A)

float

In [ ]:
#   Q10)  Find error and fix it.
     'I have eaten' + 99 +'burritos'  
#  Ans:  different datatypes can't be added error is that 99 is not string type it can be fixed as

In [ ]:
     'I have eaten ' +  '99' +' burritos'

'I have eaten  99 burritos'